* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

li,
a {
    font-weight: 600;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    font-family: sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    z-index: 1000000;
}

.nav_links2 {
    padding: 25px 25px;
    list-style: none;
}

.nav_links2 li {
    display:inline-block;
    padding: 0px 7px;
}

.nav_links {
    list-style: none;
    justify-content: flex-end;
    padding: 25px 25px;
}

.nav_links li {
    display: inline-block;
    padding: 0 7px;
    cursor: pointer;
    font-size: 8;
}

.nav_links li a {
    color: white;
    font-size: 15px;
}

.nav_links li:hover a {
    color: rgb(224, 222, 222);
}

.nav_links2 li a {
    color: white;
    font-size: 15px;
}

.nav_links2 li:hover a {
    color: rgb(224, 222, 222);
    
}

/* banner */

.banner {
    width: 100%;
    overflow-x: hidden;
}

/* Home */

.grid-project {
    display: grid;
    grid-template-columns:repeat(auto-fit, 400px) ;
    margin: 10px;
    padding-top: 200px;
    justify-content: center;
}
.project-item {
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
    
}

.project-item img {
    transition: 0.2s;
}
.project-item img:hover {
    transform: scale(1.1);
}

.project-item img {
    height: 200px;
    width: 400px;
}
